.CardContainer{
    width: 100%;
    aspect-ratio: 0.6/1;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.CardTop{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 80%;
    position: relative;
    overflow: hidden;
}
.CardTitle{
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    font-size: 150%;
    margin: 5px;
    border-bottom: 2px solid white;
}
.CardTop > img{
    position: absolute;
    opacity: 0.5;
    z-index: 0;
    bottom: 0px;
    height: 80%;
    left: 0px;
    aspect-ratio: 1/1;
    transform: translateY(20%) translateX(-30%);
} 
.CardContent{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
    width: 100%;
    background-color: white;
    padding: 10px;
    flex-direction: column;
    gap: 5px;
}
.CardContent > p{
    text-align: justify;
    text-align-last: center;
} 
.CardContent > button{
    width: 50%;
    aspect-ratio: 1/0.3;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 150%;
    text-transform: uppercase;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.CardContent > button:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.iconSet{
    position: absolute;
    top: 0px;
    background-color: black;
    height: 15%;
    aspect-ratio: 2/1;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconSet::after{
    content: "";
    position: absolute;
    width: 50%;
    right: 0px;
    transform: translateX(100%);
    height: 100%;
    background-color: black;
    z-index: 0;
}
.iconSet::before{
    content: "";
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 50%;
    right: 0px;
    transform: translateX(100%);
    background-color: var(--col);
    border-top-left-radius: 100%;
    border-right: 2px solid var(--col);
    border-bottom: 2px solid var(--col);
}
.circ{
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    transform: translateY(50%);
    border-radius: 50%;
    bottom: 0px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circ > img{
    height: 70%;
    aspect-ratio: 1/1;
    filter: invert(1);
    object-fit: cover;
    object-position: center;
}