.ConM {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}

.dispCol {
    height: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

:global(.item) {
    height: 100%;
    aspect-ratio: 1/1;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    font-size: 0px;
}

.colorCon {
    height: 45%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.colorCon>*:nth-child(1) {
    width: 100%;
    height: 20%;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

.colorCon>*:nth-child(2) {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    padding: 5px;
    display: grid;
    overflow-y: auto;
    overflow-x: hidden;
    grid-template-columns: repeat(auto-fill, minmax(100px, calc(100% / 20)));
    grid-auto-rows: auto;
    gap: 5px;
}

.colorCon>*:nth-child(2)>* {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
}

:global(.counting) {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;

    animation-name: anim1;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 1;
}

@keyframes anim1 {
    from {
        opacity: 1;
        font-size: 550px;
    }
    to {
        opacity: 0;
        font-size: 50px;
    }
}