.UTCon{
    z-index: 100;
    position: fixed;
    right: 0px;
    top: 0px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    width: 20vw;
    min-height: calc( 20vw / 5 );
    max-height: calc( 20vw / 5 );
    height: calc( 20vw / 5 );
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
}
.UTConcLS{
    height: 100%;
}
.UTCHeader{
    width: 100%;
    min-height: calc( 20vw / 5 );
    overflow: hidden;
    max-height: calc( 20vw / 5 );
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    gap: 5px;
}
.UTCHeader > img{
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.UTCon:hover{
    min-height: calc( 20vw ) !important;
    max-height: calc( 20vw ) !important;
    height: 20vw !important;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.ContentUTC{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: justify;
    background-color: lightgray;
}
.bottomF{
    width: 100%;
    min-height: 20%;
    margin-top: auto;
    bottom: 0px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    transition: 0.5s;
    text-transform: uppercase;
}
.btn:hover{
    color: black;
    background-color: white;
}



.AccorCls{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: auto;
    padding: 5px;
    gap: 10px;
}
.Item > input{
    display: none;
}
.Item{
    width: 100%;
    max-height: calc( 100vw / 20 );
    min-height: calc( 100vw / 20 );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease;
    transition-delay: 0s;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.Item > label{
    width: 100%;
    min-height: calc( 100vw / 20 );
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: lightgray;
    transition: 0.5s;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 2vw;
    color: white;
    padding: 5px;
    border-left: 0px solid red;
    position: relative;
}
.Item:has(input:checked){
    max-height: 50%;
    min-height: 50%;
    transition: 0.5s ease-in !important;
    transition-delay: 0.5s !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.Item:has(input:checked) > label{
    background-color: gray;
    border-left: 10px solid red;
}
.Description{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5px;
    text-align: justify;
}