.NavC{
    height: 100vh;
    width: 15vh;
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 50;
    transition: 0.5s;
    overflow: hidden;
    gap: 5px;
}
.NavC:hover{
    width: calc(15vh*3);
    overflow: visible;
}
.Item{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
}
.Item > .imgCon{
    box-sizing: border-box;
    min-width: 15vh;
    max-width: 15vh;
    aspect-ratio: 1/1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: 0.5s;
}
.Item > .imgCon > img{
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    filter: invert(1);
    transition: 0.2s;
}
.Item > .imgCon:hover{
    background-color: white;
}
.Item > .imgCon:hover > img{
    filter: invert(0);
}
.NavC:hover .Item > .desc{
    opacity: 1;
    transform: translateY(0%);
}
.Item > .desc{
    padding: 5px;
    min-width: 100%;
    opacity: 0;
    text-align: left;
    transform: translateY(50%);
    transition: 0.3s;
    color: white;
    user-select: none;
}
.desc > p > a{
    color: white !important;
    text-decoration: none !important;
}
.navF{
    margin-top: auto;
    width: 100%;
    height: 10%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navfImgC{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.navfImgC > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: invert(1);
    transition: 0.2s;
}
.NavC:hover .navfImgC{
    justify-content: flex-end;
}










.spannav{
    width:15vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.5s;
    position: relative;
}
.spannav:hover{
    width: calc(15vh * 3);
}
.spannav > div{
    min-width: 15vh;
    aspect-ratio: 1/1;
    background-color: green;
    color: white;
    display: flex;
    align-items:center;
    justify-content: center;
}
.spannav > p{
    padding: 5px;
    opacity: 0;
    left: 0px;
    height: 100%;
    min-width: calc(15vh * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.4s;
    color: white;
    text-align: justify;
    text-align-last: left;
    background-color: black;
    transform: translateY(25%);
    text-transform: uppercase;
    font-family: Arial;
}

.spannav:hover > p{
    transform: translateY(0);
    opacity: 1;
}
.spannav > .auxText{
    position: absolute;
    right: 0px;
    height: 30%;
    width: 30%;
    background-color: white;
    padding: 2px;
    text-align: center;
    border-radius: 3px;
    transform: translateX(110%);
}