.DSecMPCon{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid orange;*/
    padding-inline: 10%;
}
.DSecMPCon > div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.imgsDisp > img{
    height: 70%;
    aspect-ratio: 0.8/1;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    position: absolute;
}
.imgsDisp > img:nth-last-of-type(1){
    top: 5%;
    left: 5%;
}
.imgsDisp > img:nth-last-of-type(2){
    bottom: 5%;
    right: 5%;
    z-index: 20;
}
.DSecMPContentCardCon{
    position: absolute;
    right: 0px;
    width: 120%;
    height: 35%;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 70;
    bottom: 20%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}
.DSecMPContent{
    padding: 10px;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}
.DSecMPContent > h3{
    font-size: 5vw;
    text-transform: uppercase;
}
.DSecMPContent > p{
    text-align: justify;
    font-size: 1,5vw;
}

.DSecMPContentCardCon > *{
    height: 100%;
    width: calc(100% / 3);
    padding: 5px;
    gap: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    /*border: 2px solid red;*/
}
.DSecMPContentCardCon > * > img{
    width: 20%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    filter: invert(1);
}
.DSecMPContentCardCon > * >p{
    text-align: justify;
    font-size: 1vw;
}