.SLCon1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.SLCon1 > h3{
    font-size: 90px;
    text-align: start;
    width: 100%;
    text-transform: uppercase;
}
.SLCon{
    width: 100%;
    height: 50vh;
    /*border: 2px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
:global(.SLConLstItem){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    aspect-ratio: 1/1;
    /*border: 2px solid black;*/
    position: relative;
}
:global(.SLConLstItem) > :nth-child(1){
    position: absolute;
}
:global(.SLtxt){
    position: absolute;
    bottom: 0px;
    transform: translateY(-100%);
    opacity: 0;
    transition: calc((4 - var(--pos)) * 0.2s);
    transition-delay: calc((4 - var(--pos)) * 0.2s);
}
:global(.SLselect) > :global(.SLtxt){
    transform: translateY(0%);
    opacity: 1;
    transition: calc(var(--pos) * 0.2s) !important;
    transition-delay: calc(var(--pos) * 0.2s) !important;
}
:global(.SLCenterContent){
    height: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    position: absolute;
    z-index: 10;
    transition: calc((4 - var(--pos)) * 0.2s);
    transition-delay: calc((4 - var(--pos)) * 0.2s);

}
:global(.SLCenterContent) > img{
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
:global(.SLConLstItem):not(:nth-child(1)) > :global(.line){
    isolation: isolate;
    position: absolute;
    width: 0%;
    background-color: orange;
    height: 3%;
    transform: rotateZ(180deg);
    left: -50%;
    z-index: -1;
    transition: calc((4 - var(--pos)) * 0.2s);
    transition-delay: calc((4 - var(--pos)) * 0.2s);
}
:global(.SLselect) > :global(.SLCenterContent){
    background-color: orange;
    transition: calc(var(--pos) * 0.2s) !important;
    transition-delay: calc(var(--pos) * 0.2s) !important;
}
:global(.SLselect) > :global(.line){
    width: 100% !important;
    transition: calc(var(--pos) * 0.2s) !important;
    transition-delay: calc(var(--pos) * 0.2s) !important;
}