.MsgCon{
    width: 25%;
    height: fit-content;
    /*border: 2px solid red;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    right: 0px;
    top: 10%;
    z-index: 150;
    padding: 5px;
    gap: 5px;
}