.MsgItemCon{
    width: 100%;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 5px;
    background-color: rgb(30, 30, 30);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    transform: translateY(100%);
    color: white;
    
    animation-name: anim2;
    animation-delay: 0s;
    animation-duration: var(--sec);
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes anim2 {
    0%{
         transform: translateX(100%);
    }
    10%{
         transform: translateX(0%);
    }
    90%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(120%);
    }
}
.HeaderMsg{
    width: 100%;
    min-height: 60px;
    height: 60px;
    background-image: linear-gradient(to top right,var(--color) 5%,transparent 80%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    padding: 5px;
    padding-top: 10px;
    gap: 10px;
    border-left: 15px solid black;
}
.HeaderMsg::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--color);
    height: 5px;
    width: 0%;

    animation-name: anim1;
    animation-delay: 0s;
    animation-duration: var(--sec);
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes anim1 {
    from{
        width: 0px;
    }to{
        width: 100%;
    }
}
.HeaderMsg > img{
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    filter: invert(1);
}
.HeaderMsg > .SideCon{
    position: absolute;
    right: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    gap: 5px;
}
.SideCon > button{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
    color: white;
}
.SideCon > button > img{
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
.SideCon > button:nth-of-type(2){
    transform: rotateZ(-90deg);
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2vw;
}
:global(.activeMsg) .SideCon > button:nth-of-type(2){
    transform: rotateZ(90deg) !important;
}
.Content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
}
:global(.activeMsg){
    max-height: 150px !important;
    min-height: 150px !important;
}