.Cls {
    width: 100%;
    display: block;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: auto;
}

.Item {
    position: relative;
    height: 50vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: black;*/
    transition: 0.5s;
    /*opacity: 0;*/
}

.ItemPosL {
    margin-right: auto;
    /*transform: translateX(-50%);*/
}

.ItemPosR {
    margin-left: auto;
    /*transform: translateX(50%);*/
}

.Bar {
    position: sticky;
    top: 0px;
    left: 0px;
    height: 10px;
    background-image: linear-gradient(to right, red, orange);
    width: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 150;
    transition: 0.1s;
    border-radius: 20px;
}

/*
        .SelectedEl{
            background-color: orange !important;
            opacity: 1;
            transform: translateX(0%) !important;
        }*/
.CheckPointItem {
    width: 25%;
    aspect-ratio: 1/1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    top: 50%;
    position: absolute;
    border-radius: 50%;
    z-index: 50;
    isolation: isolate;
}
.Item:not(:first-child)::before {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: black;
    top: -50%;
    width: 0px;
    height: 5px;
    transform-origin: 0px 50%;
    transition: 0.5s;
}

:global(.SelectedEl).ItemPosL.Item::before {
    transform: translateX(100%) translateY(-50%) rotateZ(90deg);
    width: 50vh !important;
}

:global(.SelectedEl).ItemPosR.Item::before {
    width: 50vh !important;
    transform: translateX(0%) translateY(-50%) rotateZ(90deg);
}

.ItemPosL.Item::before {
    right: 0px !important;
    transform: translateX(100%) translateY(-50%) rotateZ(90deg);
}

.ItemPosR.Item::before {
    left: 0px !important;
    transform: translateX(0%) translateY(-50%) rotateZ(90deg);
}

.ItemPosL>.CheckPointItem {
    right: 0px;
    transform: translateX(50%) translateY(-50%);
}

.ItemPosR>.CheckPointItem {
    left: 0px;
    transform: translateX(-50%) translateY(-50%);
}

.ContentItem {
    position: absolute;
    width: 70%;
    height: 70%;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.ItemPosL>.ContentItem {
    left: 0px;
    transform: translateX(-100%);
}

.ItemPosR>.ContentItem {
    right: 0px;
    transform: translateX(100%);
}

:global(.SelectedEl).ItemPosL>.ContentItem {
    left: 0px;
    transform: translateX(20%) !important;
}

:global(.SelectedEl).ItemPosR>.ContentItem {
    right: 0px;
    transform: translateX(-20%) !important;
}

.HCon {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    text-transform: uppercase;
    font-size: 5vw;
    color: white;
    font-weight: bolder;
    background-color: black;
}

.CCon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    padding: 10px;
}

.CCon>p {
    color: lightgray;
    font-size: 1.5vw;
    text-align: justify;
}

.CheckPointItem>img {
    height: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}