.FT1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../public/static/imgs/gamebk3.jpg"), linear-gradient(to right,red,red);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.FT1frm{
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}