.LBCon{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.LBCon > h3:nth-child(1){
    font-size: 90px;
    text-align: start;
    width: 100%;
    text-transform: uppercase;
}
.LBlst {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    border: 2px solid red;
    padding: 20px;
}
.LBlst > table{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.LBlst > table > thead{
    width: 100%;
    min-height: 15%;
    background-color: black;
    color: white;
}
.maxSize,.HeaderItem > th,.UItem > td{
    width: 100%;
    height: 100%;
}
.flexPattern,.HeaderItem > th,.UItem > td{
    display: flex;
    align-items: center;
    justify-content: center;

}
.HeaderItem > th,.UItem > td{
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.LBlst > table > tbody{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.UItem{
    height: 15% !important;
    border: 2px solid green;
}
.UItem > td{
    background-color: lightgray;
}