/*.FT1{
    width: 100%;
    height: 100vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FT1frm{
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}*/
.FT1frmf{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.SideM{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: black;
    position: relative;
}
.SideLvl{
    width: 100%;
    height: var(--w);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.5s;
}
.FieldBtns{
    width: 100%;
    top: 0px;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FieldBtns > span{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;

}
.FieldBtns > span:nth-child(1){
    background-color: white;
}
.FieldBtns > span:nth-child(2){
    background-color: black;
    color: white;
}
.FormC{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.FrmSlideC{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(0);
    justify-content: flex-start;
    flex-direction: column;
    transition: 0.5s;
}
.FrmCSl{
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SideM > p{
    text-orientation: upright;
    writing-mode: vertical-lr;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 0px;
    opacity: 1;
    width: 50%;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.SideLvl > p{
    text-orientation: upright;
    writing-mode: vertical-lr;
    color: black;
    font-size: 30px;
    position: absolute;
    opacity: 0;
    bottom: 0px;
    transition: 0.5s;
    left: 0px;
    text-transform: uppercase;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
} 
:global(.selected)> p{
    opacity: 1 !important;
    text-transform: uppercase;
}
.FrmCSl > form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: white;
}
.FrmCSl > form > label{
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    font-family: Arial;
}
.FrmCSl > form > input{
    width: 100%;
    height: 50px;
    background-color: lightgray;
    border-radius: 15px;
    padding-inline: 10px;
}
.Frmbtn{
    width: 50%;
    aspect-ratio: 1/0.25;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
    font-size: 140%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.Frmbtn:hover{
    color: black;
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}