.ConQ{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.QTxt{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    position: relative;
}
.QTxt{
    text-align: justify;
    gap: 5px;
}
.QTxt > span{
    height: 5vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quest{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}
.Qbtn{
    width: 10%;
    height: 50%;
    background-color: black;
    color: white;
    border-radius: 15px;
    text-transform: uppercase;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.Qbtn:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.BtnBar{
    width: 100%;
    min-height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}
.ItemQ{
    height: 100%;
    min-width: 100%;
    /*border: 2px solid purple;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: 5px;
    padding-block: 5px;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 5px;
}
.ItemQ > input{
    display: none;
}
.ItemMark{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    position: relative;
    border-radius: 50%;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
    color: black;
    transition: 0.5s;
    position: relative;
}
.ItemQ:has(input[type="radio"]:checked) > .ItemMark{
    background-color: black;
    color: white;
}
.ItemQ > p{
    position: relative;
}
.conCut{
    height: 100%;
    aspect-ratio: 1.5/1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.Cut{
    position: absolute;
    height: 100%;
    left: 0px;
    aspect-ratio: 1/1;
    border: 2px solid gray;
    border-radius: 50%;
    background-image: url("../../../public/static/icons/cut.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-100%);
}
.Cut > input{
    position: absolute;
    inset: 0; /* shorthand para top: 0; right: 0; bottom: 0; left: 0; */
    width: 0%;
    height: 0%;
    opacity: 0;
    pointer-events: none; /* Impede que o input interfira na interação */
    transform: scale(0); /* Alternativa extra para garantir que ele não cause mudanças visuais */
}
.ItemQ:has(input[type="radio"]:not(:checked) + .conCut .Cut > input:checked) > .conCut .Cut{
    transform: translateX(0);
    opacity: 1;
}
.ItemQ:has(input[type="radio"]:not(:checked) + .conCut .Cut > input:checked) > p{
    color: lightgray;
    text-decoration: line-through;
}
.Cut::before{
    position: absolute;
    content: "";
    width: 50%;
    border: 2px dashed gray;
    right: 0px;
    transform: translateX(110%);
    transition: 0.5s;
}
.conCut:hover > .Cut{
    transform: translateX(0);
    opacity: 1;
}
.ItemQ:hover > .conCut > .Cut{
    transform: translateX(0);
    opacity: 1;
}


:global(.CorrectAnswer){
    background-color: #a5d6a7 !important;
}
:global(.WrongAnswer){
    background-color: #ef9a9a !important;
}