.mainCTMP{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid black;*/
    position: relative;
    
}
.mainCTMP > img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
}
.SideTxt{
    color: white;
    width: 40%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 20px;
    height: 60%;
    border-left: 2px solid white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    padding-left: 20px;
}
.SideTxt > h2{
    font-size: 50px;
    font-family: Arial;
    font-weight: bolder;
    text-transform: uppercase;
}
.SideTxt > p{
    text-align: justify;
    font-family: Arial;
}
.ButtonBar{
    width: 50%;
    aspect-ratio: 1/0.25;
    /*border: 2px solid black;*/
    gap: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ButtonBar > button{
    width: 100%;
    height: 100%;
    border-radius: 30px;font-size: 1.5vw;
    text-transform: uppercase;
    font-family: Arial;
}
.ButtonBar > button:nth-of-type(1){
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
.ButtonBar > button:nth-of-type(2){
    background-color: white;
    color: black;
}
.bottomBar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    height: 30%;
    margin-top: auto;
    margin-bottom: 0px;
    background-color: black;
    opacity: 0.6;
    gap: 5%;
}
.BBarItem{
    height: 100%;
    width: calc(100% / 5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.BBarItem > *:nth-child(1){
    height: 100%;
    aspect-ratio: 1/1;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
}
.BBarItem > *:nth-child(2){
    height: 100%;
    width: 100%;
    padding: 5px;
    border-left: 2px solid white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.BBarItem > *:nth-child(2) > h4{
    text-transform: uppercase;
    font-size: 2.5vw;
}
.BBarItem > *:nth-child(2) > p{
    font-size: 0.5vw;
    text-align: justify;
}